@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Hello ASP.NET Core 1.0</h1>
</div>
<div class="row">
    <ul>
        <li>ASP.NET Core 1.0 - <a href="https://dotnet.github.io/getting-started/">https://dotnet.github.io/getting-started/</a></li>
        <li>ASP.NET Core  - <a href="https://github.com/aspnet/">https://github.com/aspnet/"</a></li>
        <li>.NET Core - <a href="https://github.com/dotnet/core">https://github.com/dotnet/core</a></li>
        <li>.NET Platform Standard - <a href="https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md">https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md</a></li>
        <li>Visual Studio Code - <a href="https://code.visualstudio.com">https://code.visualstudio.com</a></li>
    </ul>
</div>